{% extends 'layout/layout.html' %}
{% load i18n %}
{% get_available_languages as languages %}
{% load staticfiles %}
{% block includefiles %}{% endblock %}
{% block title %}{% trans "Cart" %}{% endblock %}
{% load cy %}
{% block content %}
    <div class="body page height-2" style="min-height:855px">
        <div class="block-left-fon" style="width: calc(390px + 225px); height: 950px"></div>
        <section class="sector blog page">
            <div class="container">
                <div class="title style-4" style="margin-top: 40px;">
                    <h1 class="h2">{% trans "Shopping cart" %}</h1>
                    <div class="clear"></div>
                </div><!-- title -->
                {% if cart.list_items %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="woocommerce">
                                <style>
                                    input::-webkit-outer-spin-button,
                                    input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
                                    input[type='number'] {-moz-appearance: textfield;margin: 0;float: right!important;}
                                    .conteiner-corzin .coupon input.btn {display: block;padding: 17px 20px;font-size: 12px;letter-spacing: 0.2em;border-radius: 50px;border-width: 1px;text-align: center;background-color: #ff887b;height: auto;margin-top: 15px;}
                                    .conteiner-corzin .coupon input.btn:hover {background-color: white;}
                                    .woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {width: 100%;}
                                </style>
                                <div class="conteiner-corzin">
                                    <div class="wrap">
                                        <div class="item-list cart">
                                            {% for item in cart.list_items %}
                                                <div class="item cart_item">
                                                    <div class="img_link">
                                                        <a href="{% url 'products:detail' item.obj.product.category.id item.obj.product.sub_categories.slug item.obj.product.id %}" class="con">
                                                            <img width="250" height="300" src="{{ item.obj.get_main_image.url }}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" sizes="(max-width: 250px) 100vw, 250px">
                                                        </a>
                                                    </div>
                                                    <div class="title">
                                                        <a href="{% url 'products:detail' item.obj.product.category.id item.obj.product.sub_categories.slug item.obj.product.id %}" class="name">
                                                            {{ item.obj.product.title }}
                                                        </a>
                                                    </div>
                                                    <div class="articool">
                                                        <span>{% trans "SKU" %}:</span> {{ item.obj.product.sku }}
                                                    </div>
                                                    <div class="color-type">
                                                        <span class="name">{% trans "Color" %}: </span>
                                                        <div class="cort" style="background-color: {{ item.obj.color_value }}"></div>
                                                    </div>
                                                    <div class="kilkist">
                                                        <div class="input-row">
                                                            <span class="name">{% trans "Quantity" %}: </span>
                                                            <input type="number" step="1" min="1" data-product_id="{{ item.obj.id }}" value="{{ item.quantity }}" class="input-text qty text">
                                                            <span class="less" onclick="decr(this)"></span>
                                                            <span class="more" onclick="incr(this)"></span>
                                                        </div>
                                                    </div>
                                                    <div class="price">
                                                        <span class="price">
                                                            <span class="woocommerce-Price-amount amount">
                                                                <span class="woocommerce-Price-currencySymbol">
                                                                    {{ CURRENCY_ACTIVE.symbol }}
                                                                </span>
                                                                {% change_currency item.price CURRENCY_ACTIVE.abbreviation %}
    {#                                                                            {{ item.price }}#}
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <div class="deleter">
                                                        <button type="button" class="deleter-christ" data-product_id="{{ item.obj.id }}"></button>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <div class="last-row-part">
                                                <div class="cart-collaterals">
                                                    <div class="all-price cart_totals">
{#                                                        <div class="cupon actions">#}
{#                                                            <form action="" method="post">#}
{#                                                                {% csrf_token %}#}
{#                                                                <p>{{ discount_apply_form.discount_code.errors }}</p>#}
{#                                                                {{ discount_apply_form }}#}
{#                                                                <button class="btn btn-1" style="margin-top: 10px;" type="submit">#}
{#                                                                    {% trans "Apply coupon" %}#}
{#                                                                </button>#}
{#                                                            </form>#}
{#                                                        </div>#}
                                                        <div class="checkout_wrap">
                                                            <a href="{% url 'orders:checkout' %}" class="btn btn-1 submition-butt">
                                                                <span>{% trans "Checkout" %}</span>
                                                            </a>
                                                        </div>
                                                        <div class="allcost" style="text-align: right;">
                                                            <div>
                                                                <span>{% trans "Subtotal before shipping" %}:</span>
                                                                <span>
                                                                    <strong>
                                                                        <span class="woocommerce-Price-currencySymbol"> {{ CURRENCY_ACTIVE.symbol }}</span>
                                                                        <span class="woocommerce-Price-amount amount">
                                                                            {% change_currency cart.total_price CURRENCY_ACTIVE.abbreviation %}
                                                                        </span>
                                                                    </strong>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- col -->
                    </div><!-- box-blog -->
                {% else %}
                    <p>{% trans "Your cart is empty" %}.</p>
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}