django-modeltranslation==0.12
django-ckeditor==5.2.2
django-colorfield==0.1.12
django-star-ratings==0.5.5
django-easycart==0.4.0
celery==3.1.18
flower==0.9.1
django-jet==1.0.6
django-analytical==2.2.2
django-social-share==1.1.2
django-sekizai==0.10.0
django-meta==1.3.2
easy-thumbnails==2.4.1
django-image-cropping==1.0.4
django-templated-email==2.2.0
django-anymail==0.11
django-paypal==0.3.6
