{% extends 'layout/layout.html' %}
{% load i18n %}
{% get_available_languages as languages %}
{% load staticfiles %}
{% block includefiles %}
    <script type="text/javascript" src="{% static 'checkout.js' %}"></script>
{% endblock %}
{% block title %}Ordering{% endblock %}
{% block content %}
    <div class="body page height-2" style="min-height:855px">
        <div class="block-left-fon" style="width: calc(95.5px + 225px); height: 1114px"></div>
        <section class="sector blog page">
            <div class="container">
                <div class="title style-4">
                    <h1 class="h2">Ordering</h1>
                    <div class="clear"></div>
                </div><!-- title -->
                <div class="row box-blog">
                    <div class="col-xs-12">
                        <div class="woocommerce">
                            <div class="conteiner-corzin">
                                <div class="wrap">
                                    <div class="title-name-form">
                                        <h2>Select the desired method of delivery, payment and fill out the information</h2>
                                    </div>
                                    <form name="checkout" action="" method="post" class="conteiner-form">
                                        {% csrf_token %}
                                        <div class="top-row">
                                            <div class="cel-inp">
                                                <div class="titl-inp">{{ form.shipping_first_name.label_tag }}</div>
                                                {{ form.shipping_first_name }}
                                            </div>
                                            <div class="cel-inp">
                                                <div class="titl-inp">{{ form.shipping_last_name.label_tag }}</div>
                                                {{ form.shipping_last_name }}
                                            </div>
                                            <div class="cel-inp">
                                                <div class="titl-inp">{{ form.shipping_email.label_tag }}</div>
                                                {{ form.shipping_email }}
                                            </div>
                                            <div class="cel-inp">
                                                <div class="titl-inp">{{ form.shipping_phone.label_tag }}</div>
                                                {{ form.shipping_phone }}
                                            </div>
                                        </div>
                                        <div id="order_review" class="woocommerce-checkout-review-order">
                                            <div class="last-row">
                                                <div class="title-row">
                                                    <h3>{{ form.shipping_type.label_tag }}</h3>
                                                </div>
                                                <div id="shipping_method" class="ckekers">
                                                    {% for radio in form.shipping_type %}
                                                        <div class="cheker-cur">
                                                            <label>
                                                                {{ radio.tag }}
                                                                <span class="beutfy-qa"></span>
                                                                <span class="descript">{{ radio.choice_label }}</span>
                                                            </label>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="hidden-part" style="display: none;">
                                                <div class="main-row">
{#                                                    <div class="cel-inp" id="id_shipping_departament_field">#}
{#                                                        <div class="titl-inp">{{ form.shipping_departament.label_tag }}</div>#}
{#                                                        {{ form.shipping_departament }}#}
{#                                                    </div>#}
                                                    <div class="cel-inp" id="id_shipping_city_field">
                                                        <div class="titl-inp">{{ form.shipping_country.label_tag }}</div>
                                                        {{ form.shipping_country }}
                                                    </div>
                                                    <div class="cel-inp" id="id_shipping_city_field">
                                                        <div class="titl-inp">{{ form.shipping_city.label_tag }}</div>
                                                        {{ form.shipping_city }}
                                                    </div>
                                                    <div class="cel-inp" id="id_shipping_city_field">
                                                        <div class="titl-inp">{{ form.shipping_state.label_tag }}</div>
                                                        {{ form.shipping_state }}
                                                    </div>
                                                    <div class="cel-inp" id="id_shipping_city_field">
                                                        <div class="titl-inp">{{ form.shipping_postcode.label_tag }}</div>
                                                        {{ form.shipping_postcode }}
                                                    </div>
                                                </div>
                                                <div class="center-row">
                                                    <div class="cheker-cur">
                                                        <label>
                                                            {{ form.shipping_to_home }}
                                                            <span class="beutfy-qa"></span>
                                                            <span class="descript">{{ form.shipping_to_home.label_tag }}</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="last-row-hide" style="display: none;">
                                                    <div class="cel-inp" id="id_shipping_street_field">
                                                        <div class="titl-inp">{{ form.shipping_street.label_tag }}</div>
                                                        {{ form.shipping_street }}
                                                    </div>
                                                </div>
                                                <div class="last-row-hide" style="display: none;">
                                                    <div class="cel-inp" id="id_shipping_home_field">
                                                        <div class="titl-inp">{{ form.shipping_home.label_tag }}</div>
                                                        {{ form.shipping_home }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="middle-row">
                                            <div class="title-row">
                                                <h3>{{ form.pay_type.label_tag }}</h3>
                                            </div>
                                            <div id="payment" class="ckekers woocommerce-checkout-payment wc_payment_methods payment_methods methods">
                                                {% for radio in form.pay_type %}
                                                    <div class="cheker-cur">
                                                        <label>
                                                            {{ radio.tag }}
                                                            <span class="beutfy-qa"></span>
                                                            <span class="descript">{{ radio.choice_label }}</span>
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="submit-row form-row place-order">
                                            <button type="submit" class="btn alt">
                                                <span>Confirm</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- col -->
            </div><!-- box-blog -->
        </section>
    </div>
{% endblock %}

