{% extends 'layout/layout.html' %}
{% load i18n %}
{% get_available_languages as languages %}
{% load staticfiles %}
{% block includefiles %}{% endblock %}
{% block title %}{% trans "Thank You" %}{% endblock %}
{% block content %}
    <div class="body page height-2" style="min-height:855px">
        <div class="block-left-fon" style="width: calc(66.5px + 225px); height: 950px"></div>
        <section class="sector blog page">
            <div class="container">
                <div class="title style-4">
                        <h1 class="h2">{% trans "Ordering" %}</h1>
                    <div class="clear"></div>
                </div><!-- title -->
                <div class="row box-blog">
                    <div class="col-xs-12">
                        <div class="woocommerce">

{#                            <!-- Google Code for AdaviBeautyConversion Conversion Page -->#}
{#                            <script type="text/javascript">#}
{#                                /*<![CDATA[*/#}
{#                                var google_conversion_id = 858143082;#}
{#                                var google_conversion_language = "en";#}
{#                                var google_conversion_format = "3";#}
{#                                var google_conversion_color = "ffffff";#}
{#                                var google_conversion_label = "227NCPLJzW8Q6vKYmQM";#}
{#                                var google_remarketing_only = false;#}
{#                                /*]]&gt;*/#}
{#                            </script>#}
{#                            <script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js"></script>#}
{#                            <img height="1" width="1" border="0" alt="" src="https://www.googleadservices.com/pagead/conversion/858143082/?random=1491508176249&amp;cv=8&amp;fst=1491508176249&amp;num=1&amp;fmt=3&amp;label=227NCPLJzW8Q6vKYmQM&amp;bg=ffffff&amp;hl=en&amp;guid=ON&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1040&amp;u_aw=1920&amp;u_cd=24&amp;u_his=13&amp;u_tz=180&amp;u_java=false&amp;u_nplug=5&amp;u_nmime=7&amp;frm=0&amp;url=https%3A%2F%2Fwww.adavibeauty.com%2Fcheckout%2Forder-received%2F1428%3Fkey%3Dwc_order_58e693703bed6&amp;ref=https%3A%2F%2Fwww.liqpay.com%2Fru%2Fcheckout%2Fcard%2F1491508109076443_9548916_0xctEAAGx6CbS1uQYRoQ&amp;tiba=%D0%9E%D1%84%D0%BE%D1%80%D0%BC%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%20%7C%20%D0%9E%D1%80%D0%B3%D0%B0%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BA%D0%BE%D1%81%D0%BC%D0%B5%D1%82%D0%B8%D0%BA%D0%B0%20The%20Organic%20" style="display:none">#}
{#                            <noscript>#}
{#                                &lt;div style="display:inline;"&gt;#}
{#                                &lt;img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/858143082/?label=227NCPLJzW8Q6vKYmQM&amp;amp;guid=ON&amp;amp;script=0"/&gt;#}
{#                                &lt;/div&gt;#}
{#                            </noscript>#}

                            <div class="conteiner-corzin">
                                <div class="wrap">

                                    <div class="ty-page">
                                        <div class="topper-name">
                                            <h1>{% trans "Thank You for order" %}!</h1>
                                        </div>
                                        <div class="mid-text">
                                            {% trans "Your application has been sent to our manager" %}. <br>
                                            {% trans "Soon he will call you back to clarify the delivery" %}.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- col -->
                </div><!-- box-blog -->
            </div>
        </section><!-- section blog -->
    </div>
{% endblock %}


