{% load cy %}
{#{% spaceless %}#}
{% curr_context %}
<div class="dropdown">
    <button id="curr_dropdown" class="dropbtn" title="{{ CURRENCY_ACTIVE.name }}">
        &nbsp;{{ CURRENCY_ACTIVE.symbol }}&nbsp;<span class="fa fa-caret-down"></span>
    </button>
    <div id="curr_dropdown_container" class="dropdown-content">
        {% for currency in CURRENCIES %}
            <a href="{% url 'cy:set-currency' %}?currency_abbreviation={{ currency.abbreviation }}"
            title="{{ currency.name }}">
                {{ currency.symbol }}
            </a>
        {% endfor %}
    </div>
</div>
{#{% endspaceless %}#}