{% extends 'products/index.html' %}

{% load i18n %}

{% get_available_languages as languages %}

{% block title %}
    {% if productvariation %}
        {{ productvariation.title }}
    {% endif %}
{% endblock %}

{% load staticfiles %}

{% block includefiles %}
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.js' %}"></script>
{% endblock %}

{% load ratings %}

{% load cy %}

{% load social_share %}

{% block content %}

    <div class="body woocomerce page">
	<div class="block-left-fon" style="width: calc(20% + 11.9%); height: 1977px"></div>
	<section class="sector cat">
		<div class="container">

			<div class="nav">
                <a href="/">{% trans "Home" %}</a>
                <span class="line-bg"></span>
                <a href="{% url 'products:index' %}">{% trans "All" %}</a>
                <span class="line-bg"></span>
                <a href="{% url 'products:products_by_category' category.get.id %}">{{ category.get.title|capfirst }}</a>
                <span class="line-bg"></span>
{#                <span>{{ category.get.id }}</span>#}
                <span>{{ productvariation.title }}</span>
            </div>

			<div class="box row">

                <!-- Success message -->
                <div class="wm">
                    <a href="{% url 'cart:detail' %}" class="button wc-forward">Перейти в корзину</a>
                    Вы отложили “{{ productvariation.title }}” в свою корзину.
                </div>
                <!-- Success message -->

                <div itemscope="" itemtype="http://schema.org/Product" class="post-980 product type-product status-publish has-post-thumbnail product_cat-face first instock shipping-taxable purchasable product-type-simple">
                    <div class="col-lg-5 col-md-5 col-xs-12">
                        <!-- IMAGES -->
                        <div class="images">
                            <div class="box-img owl3 thumbnails columns-3 owl-carousel owl-theme" style="opacity: 1; display: block;">
                                <div class="owl-wrapper-outer">
                                    <div class="owl-wrapper" style="width: 1576px; left: 0px;
                                     display: block; transition: all 0ms ease; transform: translate3d(0px, 0px, 0px);">
                                        {% for image in product_images %}
                                            <div class="owl-item" style="width: 394px;">
                                                <a href="{{ image.image.url }}" class="zoom first item fancybox-products" title="" data-rel="prettyPhoto[product-gallery]" rel="rel1" fancybox="on">
                                                    <img width="400" height="400" src="{{ image.image.url }}" alt="image.description" title="{{ image.description }}" caption="" sizes="(max-width: 400px) 100vw, 400px">
                                                </a>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
{#                                <div class="owl-controls clickable">#}
{#                                    <div class="owl-pagination">#}
{#                                        <div class="owl-page active">#}
{#                                            <span class=""></span>#}
{#                                        </div>#}
{#                                        <div class="owl-page">#}
{#                                            <span class=""></span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="owl-buttons">#}
{#                                        <div class="owl-prev">prev</div>#}
{#                                        <div class="owl-next">next</div>#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                        </div>
                        <!-- !IMAGES -->
                        <div class="box-content box-content-left-cart">
                            <!-- VARIATION LINKS -->
                            <div class="varieble-box text-center">
                                {% for variation in product_variation_list %}
                                    <a href="{% url 'products:detail' category.get.id variation.pk %}"
                                       class="varieble {% if variation == productvariation %}
                                       active
                                       {% endif %}" title="{{ variation.color_description }}">
                                        <span style="background-color: {{ variation.color_value }};"></span>
                                    </a>
                                {% endfor %}
                            </div>
                            <!-- !VARIATION LINKS -->
                            <!-- ADD TO CARD FORM -->
                            <div class="btn-box">
                                {% if productvariation.quantity == 0 %}
                                    <p class="text-center" style="color: grey"><b>Out of stock</b></p>
                                {% else %}
                                    <form class="cart" action="javascript:void(0)" method="post">
                                        <input type="hidden" name="add-to-cart" value="{{ productvariation.pk }}">
                                        <div class="quantity">
                                            <input type="number" step="1" min="1" max="{{ productvariation.quantity }}" name="quantity"
                                                   value="1" title="Кол-во" class="input-text qty text">
                                        </div>
                                        <button id="addToCart" type="button" class="single_add_to_cart_button button alt btn btn-1">{% trans "Add to cart" %}</button>
                                    </form>
                                {% endif %}
                            </div><!-- box-desc -->
                            <!-- !ADD TO CARD FORM -->
                        </div><!-- box-content -->
                    </div><!-- col -->

                    <!-- CONTENT -->
                    <div class="col-lg-7 col-md-7 col-xs-12">
                        <div class="box-content">
                            <div class="summary entry-summary">
                            </div><!-- .summary -->
                            <meta itemprop="url" content="https://www.adavibeauty.com/product/all/face/tonalnyy-krem-sand">
                            <div class="line-title">
                                <h1 class="title">
                                    <div itemprop="name" class="product_title entry-title">{{ productvariation.title }}</div>
                                </h1>
                                <div class="sku">
                                    <div class="product_meta">{% trans "SKU" %}:{{ productvariation.sku }}
                                    <!--<span class="sku_wrapper">Артикул: <span class="sku" itemprop="sku">1102</span></span>-->
                                    </div>
                                </div>

                            </div><!-- line-title -->
                            <div class="line-price">
                                <div class="price">
                                    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                        <span class="woocommerce-Price-amount amount">
                                            {% change_currency productvariation.price CURRENCY_ACTIVE.abbreviation %}
{#                                            {{ productvariation.price }}#}
                                            <span class="woocommerce-Price-currencySymbol">
                                                {{ CURRENCY_ACTIVE.symbol }}
                                            </span>
                                        </span>
                                        <meta itemprop="price" content="{% change_currency productvariation.price CURRENCY_ACTIVE.abbreviation %}">
                                        <meta itemprop="priceCurrency" content="{{ CURRENCY_ACTIVE.abbreviation }}">
                                        <link itemprop="availability" href="http://schema.org/InStock">
                                    </div>
                                </div>

                                <!-- RATING -->
                                {% ratings object %}
                                <!-- !RATING -->
                            </div>
                            <!-- line-price -->

                            <div class="box-desc">
                                <div class="desc">
                                    <div id="description" class="tabcontent">
                                        {{ productvariation.description|safe }}
                                    </div>
                                    <div id="reviews" class="tabcontent">
                                        <h2 class="woocommerce-Reviews-title">{% trans "Reviews" %}</h2>
                                        {% if not product_reviews %}
                                            <p class="woocommerce-noreviews">{% trans "No reviews" %}</p>
                                        {% else %}
                                            <!-- REVIEWS -->
                                            {% for review in product_reviews %}
                                                <div class="conteiner-comments">
                                                    <div class="authorInfo">
                                                        <strong itemprop="author">Author: {{ review.reviewer_name }}</strong>
                                                        <strong>( {{ review.reviewer_email }} )</strong>
                                                    </div>
                                                    <div itemprop="description" class="description">
                                                        <p>{{ review.review|safe }}</p>
                                                    </div>
                                                    <div class="time">
                                                        <time itemprop="datePublished" datetime="{{ review.review_added }}">
                                                                {{ review.review_added|date }}
                                                        </time>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            <!-- !REVIEWS -->
                                        {% endif %}

                                    <!-- REVIEW_FORM -->
                                        <div class="review-form">
                                            <h3 class="text-center">{% trans "Add your review" %}:</h3>
                                            <form class="form-horizontal" action="" method="post">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    <div class="form-group">
                                                        <div class="col-sm-offset-4 col-sm-8">
                                                            <span class="text-danger small">{{ field.errors }}</span>
                                                        </div>
                                                        <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                                                        <div class="col-sm-10">{{ field }}</div>
                                                    </div>
                                                {% endfor %}
                                                <div class="form-group">
                                                    <div class="col-sm-offset-4 col-sm-8">
                                                        <button type="submit" class="btn btn-1">{% trans "Submit" %}</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    <!-- !REVIEW_FORM -->
                                    </div>
                                    <div class="tab tabs ws-tabs">
                                        <button class="tablinks" onclick="openDesc(event, 'description')" id="defaultOpen">{% trans "Description" %}</button>
                                        <button class="tablinks" onclick="openDesc(event, 'reviews')">
                                            {% trans "Reviews" %} ({{ product_reviews|length }})
                                        </button>
                                    </div>
                                </div>
                                <!-- SOCIAL'S SHARE -->
                                <div id="supsystic" class="text-center">
                                    <div class="row">
                                        <div class="col-min-12 col-xs-4 text-left">
                                            <strong>{% trans "SHARE" %}</strong>
                                        </div>
                                        <div class="col-min-12 col-xs-8 text-right">
                                            <div data-animation="no-animation" data-icons-animation="no-animation"
                                                 data-overlay="" data-change-size="" data-button-size="1"
                                                 style="font-size: 1em;"
                                                 class="supsystic-social-sharing supsystic-social-sharing-package-flat supsystic-social-sharing-content supsystic-social-sharing-content-align-left supsystic-social-sharing-init supsystic-social-sharing-loaded">
                                                {% post_to_facebook object_or_url '' %}
                                                {% post_to_twitter "Product: {{productvariation.title}}. Check it out!" object_or_url "" %}
                                                {% post_to_gplus object_or_url "" %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- !SOCIAL'S SHARE -->
                            </div>

                        </div>
                    </div><!-- col -->

                </div><!-- #product -->
                <script>
                    var href = location.href;
                    $('.varieble-box a[href="'+href+'"]').addClass('active');
                </script>
            </div>
		</div>
	</section><!-- section blog -->
</div>

{% endblock %}










