{% extends 'products/products_by_category.html' %}

{% load i18n %}

{% get_available_languages as languages %}


{% load staticfiles %}

{% block includefiles %}
    <link rel="stylesheet" href="{% static "jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "jquery-ui.structure.min.css" %}">
    <link rel="stylesheet" href="{% static "jquery-ui.theme.min.css" %}">
    <script type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
{% endblock %}

{% block title %}
    {% if category %} {{ category.title|capfirst }} {% else %} {% trans "All products" %} {% endif %}
{% endblock %}

{% load cy %}

{% block sub_category %}

{% endblock %}