{% extends 'products/list.html' %}
{% load i18n %}
{% get_available_languages as languages %}
{% load staticfiles %}
{% block includefiles %}
    <link rel="stylesheet" href="{% static "jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "jquery-ui.structure.min.css" %}">
    <link rel="stylesheet" href="{% static "jquery-ui.theme.min.css" %}">
    <script type="text/javascript" src="{% static "jquery-ui.min.js" %}"></script>
{% endblock %}
{% block title %}{% if category %} {{ category.title|capfirst }} {% else %} {% trans "All products" %} {% endif %}{% endblock %}
{% load cy %}
{% block categories %}
    {% if category_list %}
        <div class="categories_wrapper">
            <ul class="categories">
                <li class="category">
                    <a href="{% url 'products:index' %}">{% trans "All" %}</a>
                </li>
                {% for cat in category_list %}
                    {% if cat == category %}
                        <li class="category">
                            <a href="{% url 'products:products_by_category' cat.id %}" class="active">{{ cat.title }}</a>
                            <ul class="sub_categories">
                                {% block sub_category %}
                                    {% for sub_category in sub_category_list %}
                                        <li class="s_category">
                                            <a href="{% url "products:products_by_subcategory" cat.id sub_category.slug %}">{{ sub_category.title }}</a>
                                        </li>
                                    {% endfor %}
                                {% endblock %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="category"><a href="{% url 'products:products_by_category' cat.id %}">{{ cat.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}